.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(248, 241, 241);
  

}
.sub-main{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 30px;
  border-radius: 60px;
  background-color: white;
}
.imgs{
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.container-image{
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  height: 100px;
  width: 100px;

}
.profile{
  width: 100px;
  height: 100px;
  border-radius: 90px;
}
input{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px rgb(214, 206, 206);
  border: none;
  outline: none;
}

.email{
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
}
.name{
  color: black;
  padding-left: 70px;
  font-size: 20px;

}
.second-input{
  padding-top: 20px;
}

button{
  width: 380px;
  height: 50px;
  border-radius: 60px;
  background-color: #b103fc;
  color: white;
  font-size: 25px;
  border: none;
}
.login-button{
  padding-top: 15px;
}
.link{
  font-size: 20px;
  font-weight: 400;
}
a{
  color: blue;
}